.login-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #ff5a3c;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.login-box span {
  color: #ff5a3c;
  cursor: pointer;
}